.board {
  display: flex;
  justify-content: space-around;
  /* background-color: #f4f5f8; */
}

.column {
  width: 30%;
}

.ticket {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.app .controls {
  background: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-color: #f4f5f8;
  width: fit-content; 
  padding: 8px; 
  margin: 10px; 
}

.app .controls label {
  font-weight: bold; 
  margin-right: 10px; 
}

.app .controls select {
  border: 1px solid #cccccc; 
  border-radius: 4px; 
  padding: 5px 10px;
  font-size: 1rem; 
  color: #333333; 
  box-shadow: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat; 
  background-position: right 10px top 50%; 
  background-size: 12px; 
}

.app .controls select:focus {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}


